 body {
    font-family: Arial, sans-serif;
    background-color: #a93333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Modal Styling */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

/* Form Styling */
form {
    margin-top: 20px;
}

input[type="email"],
input[type="number"],
input[type="password"],
button {
    /* width: calc(100% - 22px); */
    /* Adjusted width to allow for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #962121;
    border-radius: 5px;
}

button {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Validation Error Styling */
.error-message {
    color: red;
    margin-top: 5px;
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 768px) {
    .modal-dialog {
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}