
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #8e75e4
    ;
    height: 100vh;
    
    
}

.blur-image
{
    filter: blur(5px);
}
.image-container{
    background-image: url(signup.jpg);
    height: 70vh;
    width: 50vw;
    background-size: cover;
    margin-right: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px  black;
}
.login-container{
    background-color: #ded9ee;
    height: 70vh;
    width: 50vw; 
    margin-left: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px black;
}

.facebook-icon {
    color: #1877F2;
    font-size: 25px;
     
}
.youtube-icon {
    color: #FF0000;
    font-size: 25px;  
    margin-left: 10px;
}
.google-icon {
    color: #4285F4;
    font-size: 25px; 
    margin-left: 10px;
}
.twitter-icon {
    color: #1DA1F2; 
    font-size: 25px; 
    margin-left: 10px;
}
.linkedin-icon {
    color: #0077B5; 
    font-size: 25px;
    margin-left: 10px; 
}
.instagram-icon {
    color: #E4405F; 
    font-size: 25px; 
    margin-left: 10px;
}
.input-group {
    position: relative;
}

.input-group-addon {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px; /* Adjust as needed */
}
