.container {
    margin-top: 20px;
}
body{
    height: 90vh;
}
select[name="country"] {
    height: 35px; 
    width: 300px;
    margin-right: 30px;
}

select[name="gender"]{
    width: 300px;
    margin-right: 30px;
}    
.main-container {
    width: 50%; 
    margin: 20px; 
    padding: 20px; 
    border: 1px solid #ccc; 
}
input{
    width: 300px;
    margin-right: 30px;
}